{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>我的笔记</title>#}
{#</head>#}
{#<body>#}

{% extends 'base.html' %}

{% block content %}

 <h1>笔记列表</h1>
 <a href="{% url 'create_note' %}">创建新笔记</a>
 <a href="{% url 'trash' %}">回收站</a>
    <ul>
        {% for note in page_obj %}
            <li>{{ note.title }} - {{ note.created_at }}
                {% if note.reminder_set.exists %}
                    <p>提醒时间: {{ note.reminder_set.first.reminder_time }}</p>
                {% else %}
                    <p>未设置提醒</p>
                {% endif %}
                <a href="{% url 'add_reminder' note.id %}">设置提醒</a>
                <div>标签: {% for tag in note.tags.all %}{{ tag.name }} {% endfor %}</div>
                <div>分类: {{ note.category.name }} </div>
                <a href="{% url 'note_detail' note.id %}">查看</a>
                <a href="{% url 'edit_note' note.id %}">编辑</a>
                <a href="{% url 'delete_note' note.id %}">删除</a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">首页</a>
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}

        <span>第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">末页</a>
        {% endif %}
    </div>

{#</body>#}
{#</html>#}

{% endblock %}